<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <lu>
      <% data.lights.forEach((light) => { %>
        <li><% light.id %> - <% light.status %></li>
      <% }) %>
    </lu>
  </body>
</html>
