a
  color: #00B7FF


body
  background: #b2a9ecff
  margin: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

  .page-container
    width: 100vw
    height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    margin: 0

    h1, p
      color: #fff

    p
      a
        color: #fff
        font-weight: bold

    .page-body
      display: flex
      flex-direction: column
      width: 100vw
      height: 100%
      background: #fff
      border-radius: 20px 20px 0 0
      align-items: center
      //justify-content: center

      .items-list
        width: 100%
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: center

        @media screen and (max-width: 424px)
          .item-device
            width: 100% !important

        .removeButton
          background: #ff4d4d
          color: #fff
          border: 0
          padding: 5px 10px
          font-weight: bold
          border-radius: 1px
          margin-top: 10px

          &:hover
            background: #ff0000

        .item-device
          width: 150px
          margin: 10px
          padding: 10px
          border: 0
          border-radius: 5px
          background: #f3ecfeff
          display: flex
          flex-direction: column
          align-items: center

          .info
            width: 100%
            display: flex
            flex-direction: column

            span
              margin-bottom: 5px
              font-weight: bolder
              color: #8479d9
              font-size: 12px
              text-align: start

      h4
        color: #8479d9

      form
        display: flex
        flex-direction: column
        align-items: end
        padding-top: 10px

        button
          margin-top: 20px
          width: fit-content
          background: #b2a9ecff
          border: 0
          padding: 5px 10px
          color: #fff
          font-weight: bold
          border-radius: 1px

        h5
          width: 100%
          text-align: center
          padding: 0
          margin: 10px 0 0 0

        label
          display: flex
          flex-direction: column
          margin-top: 10px

          input
            background: #f3ecfeff
            border: 0
            padding: 10px
            border-radius: 20px
            color: #8479d9

            &:-webkit-autofill, &:-webkit-autofill:focus, &:-webkit-autofill:focus
              background: #f3ecfeff
              color: #8479d9 !important

.dialog-container
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  display: flex
  justify-content: center
  align-items: center
  background-color: #00000096

  .dialog
    padding: 10px
    background: #fff

    .dialog-content
      text-align: end

      button:first-of-type
        background: #ff4d4d
        color: #fff
        border: 0
        padding: 5px 10px
        font-weight: bold
        border-radius: 1px
        margin-top: 10px
        margin-right: 10px

        &:hover
          background: #ff0000

      button:last-of-type
        background: #b2a9ecff
        color: #fff
        border: 0
        padding: 5px 10px
        font-weight: bold
        border-radius: 1px
        margin-top: 10px

        &:hover
          background: #8479d9

// this is the light icon with css
$icon-color: #f39c12ff
$icon-color-off: #6c6c6c
$icon-color-hover: #ffce78
$icon-background: #f3ecfeff
$icon-size: 60px

.item-device:hover
  background: #b0a7c5 !important
  cursor: pointer

  .icon
    .circle
      background: $icon-color-hover

      .rays
        .r
          background: $icon-color-hover

    .d
      &::after
        background: $icon-color-hover

.icon
  width: $icon-size
  height: $icon-size
  min-height: $icon-size
  // background: red
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  position: relative
  margin: 2px

  &.off
    .circle
      background: $icon-color-off

      .rays
        display: none

    .d
      &::after
        background: $icon-color-off

  .circle
    width: 50%
    height: 50%
    position: relative
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    background: $icon-color
    border-radius: 50%
    z-index: 6

    .rays
      width: 100%
      height: 100%
      display: flex
      align-items: center
      justify-content: center
      // display: none

      .r
        width: 23%
        height: 10%
        border-radius: 30% / 50%
        background: $icon-color
        position: absolute

      .r1
        transform: translateX(-330%)

      .r2
        transform: rotateZ(45deg) translateX(-330%)

      .r3
        transform: rotateZ(90deg) translateX(-330%)

      .r4
        transform: rotateZ(135deg) translateX(-330%)

      .r5
        transform: rotateZ(180deg) translateX(-330%)

    &::before
      position: absolute
      content: ''
      width: 90%
      height: 90%
      // background: $icon-background
      border-radius: 50%

  .d
    position: relative
    width: 27.8%
    height: 11.5%
    background: $icon-background
    border-radius: 50%
    margin-top: -7%
    display: flex
    z-index: 5

    &::after
      content: ''
      width: 100%
      height: 100%
      background: $icon-color
      border-radius: 50%
      margin-top: -5%

  .d1
    width: 24.7%
    height: 11.5%
    margin-top: -6%
    z-index: 4

  .d2
    width: 20.5%
    height: 8.3%
    margin-top: -5%
    z-index: 3

  .d3
    width: 9.6%
    height: 6.5%
    margin-top: -4%
    z-index: 3
